# Fastify host address
API_ADDR=127.0.0.1
API_PORT=3001

# Postgresql database url and jwt secret
DATABASE_URL=postgresql://...
JWT_SECRET=super_secret_key

# SMTP Configuration
SMTP_HOST=smtp.mailing-provider.com
SMTP_PORT=587
SMTP_USER=user
SMTP_PASS=password
SMTP_FROM="TermiBoard Security <termiboard@sharif.my.id>"
